<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Log Viewer</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
</head>
<body style="font-family: monospace">
    <div>
    {% for l in log_content %}
        {% if l.level.name == "DEBUG" %}
            <p style="color: gray;">{{ l }}</p>
        {% elif l.level.name == "WARNING" %}
            <p style="color: goldenrod; font-weight: bold">{{ l }}</p>
        {% elif l.level.name == "ERROR" %}
            <p style="color: darkred; font-weight: bold">{{ l }}</p>
        {% else %}
            <p>{{ l }}</p>
        {% endif %}
    {% endfor %}
    </div>
</body>
</html>