<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Log Viewer</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
</head>
<body>
    <div>
    {% for l in log_content %}
        {% if l.level.name == "DEBUG" %}
        <p class="debug">
        {% elif l.level.name == "WARNING" %}
        <p class="warning">
        {% elif l.level.name == "ERROR" %}
        <p class="error">
        {% elif l.level.name == "CRITICAL" %}
        <p class="critical">
        {% else %}
        <p>
        {% endif %}
            [{{ l.index }}] - [{{ l.level.name }}] - [{{ l.timestamp }}] - [{{ l.logger_name }}]:
            <br>
            {{ l.message }}
        </p>
    {% endfor %}
    </div>
</body>
</html>