body {
    font-family: monospace;
}

p {
    margin-bottom: 50px;
}

div {
    width: 100%;
    overflow: hidden;
}

.info {
    color: mediumseagreen;
}

.debug {
    color: gray;
}

.warning {
    color: goldenrod;
    font-weight: bold;
}

.error {
    color: darkred;
    font-weight: bold;
}

.critical {
    color: darkred;
    background-color: darksalmon;
    font-weight: bold;
}
